<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>dbDSM</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <link rel="shortcut icon" href="/newdbDSM/images/dbdsmico.png" type="image/x-icon">
    <link href="/newdbDSM/layui/css/layui.css" rel="stylesheet"/>
    <link href="/newdbDSM/css/home.css" rel="stylesheet"/>
    <link href="/newdbDSM/css/bootstrap.css" rel="stylesheet"/>

    <script src="/newdbDSM/js/jquery-3.4.1.js" type="text/javascript"></script>
    <script src="/newdbDSM/layui/layui.js"></script>
    <style>
        body {
            background-color: #eeeeee;
        }
        .page-header {
            border-color: rgba(147, 147, 147, 0.5);
        }

        i {
            font-size: 18px;
        }
        li.layui-nav-item a {
            font-size: 20px !important;
        }
        a:hover,a:active,a:link{text-decoration: none;}
    </style>
</head>

<body>
<div class="layui-container" style="min-width:1140px;">
    <div class="layui-row" id="header">
        <!--头-->
        <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 layui-col-lg12" id="banner">
        </div>
        <!--这里是banner-->
        <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 layui-col-lg12" id="bar">
            <!--这里是导航栏-->
            <ul class="layui-nav" id="navbar">
                <li class="layui-nav-item ">
                    <a class="heada" href="/newdbDSM/">Home</a>
                </li>
                <li class="layui-nav-item ">
                    <a class="heada" href="/newdbDSM/search">Search</a>
                </li>
                <li class="layui-nav-item layui-this">
                    <a href="/newdbDSM/analysis">Analysis</a>
                </li>
                <li class="layui-nav-item">
                    <a class="heada" href="/newdbDSM/download">Download</a>
                </li>
                <li class="layui-nav-item">
                    <a class="heada" href="/newdbDSM/about">About</a>
                </li>
                <li class="layui-nav-item">
                    <a class="heada" href="/newdbDSM/submit">Submit</a>
                </li>
                <li class="layui-nav-item">
                    <a class="heada" href="/newdbDSM/contact">Contact us</a>
                </li>
            </ul>
        </div>
        <!--导航栏到这-->
    </div>
    <!--头到这-->
    <div class="layui-row" style="margin-top: 20px">
        <div class="layui-col-lg-offset1 layui-col-xs10 layui-col-sm10 layui-col-md10 layui-col-lg10 "
             id="bodyer" style="text-align: justify;">
            <div class="page-header"><strong><i>Overview</i></strong></div>
            <p style="font-size: 17px">This panel allows users to upload synonymous mutations across the human genome (GRCh37/hg19 assembly). We used the voting method to integrate the scores of the six class features (sequence, functional regions annotation, splicing, conservation, translation efficiency, functional score features) which is named dbDSMScore to further prioritize the deleterious of the variants, and the integrated database can easily and conveniently obtain the first hand information about numerous features annotation for particular synonymous mutations.
            </p>
            <div class="page-header"><strong><i>Job Start</i></strong></div>
            <div>
                <p style="font-size: 17px">Insert the list of synonymous mutations using the tab separated values format chr, pos, id, ref, alt (maximum 100,000 mutations for 5 column) <a style="color: #5fb878" onclick="runExample()">Example</a></p>
            </div>
            <form class="layui-form" method="post"  action="analysisSubmit"  id="submitForm" name="submitForm">
                {{ form.csrf_token }}
                <div class="layui-form-item">
                    {{ form.data }}
                </div>

                <div class="custom-file mb-3" style="width: 30%">
                    {{ form.uploaddata }}
                    <label id="t1" class="custom-file-label" for="uploaddata" style="border-radius: 0">Please upload the VCF file</label>
                </div>
                <div class="layui-text" style="float: right" align="justify">
                     Learn more about <a style="color: #5fb878" href="{{ url_for('homeblue.about') }}#Prediction_Interpretation">output</a>
                </div>

                <div class="form-group" style="margin-bottom: 50px">
                    <div class="layui-text">
                        Input your email address(Optional)
                    </div>

                    <div class="layui-col-lg4" style="width: 22%; ">
                        {{ form.email }}
                    </div>

                </div>

                <div class="layui-form-item">
                    <input type="button" id="submitBtn" class="layui-btn" onclick="check_sequence()" lay-submit lay-filter="*" value="Submit" style="background-color: #5FB878;">
                    <input type="reset" id="resetBtn" class="layui-btn layui-btn-primary" lay-filter="reset" value="reset" onclick="reset1()">
                </div>

            </form>
        </div>


    </div>

    <div class="layui-container" id="footer">
        <hr class="layui-bg-black">
        <div class="layui-row">

            <div class="layui-row">
                <div align='left' class="layui-col-md4">
                    <div style="display:inline-block;width:200px;"></div>
                    <!--				      	<div style="display:inline-block;width:200px;"><script type="text/javascript" src="//rf.revolvermaps.com/0/0/7.js?i=0nqmwz0cey3&amp;m=0&amp;c=ff0000&amp;cr1=ffffff&amp;sx=0" async="async"></script></div>-->
                </div>
                <div align='center' class="layui-col-md4" style="margin-top:20px">
                    Links:
                    <a class="ow" href="http://bioinfo.ahu.edu.cn:8080/PrDSM/" target="_blank">PrDSM</a>
                    <div style="display:inline;">|</div>
                    <a class="ow" href="http://bioinfo.ahu.edu.cn:8080/IDSV/" target="_blank">IDSV</a>

                    <div class="copyright">
                        Copyright©
                        <a class="ow" href="http://en.ahu.edu.cn/" target="_blank">AnHui University</a> ©All Rights
                        Reserved.
                    </div>
                </div>
                <div align='right' class="layui-col-md4" style="margin-top:10px">
                    <div>
                        <!--							<script type="text/javascript" src="//rf.revolvermaps.com/0/0/0.js?i=52m8mqpvyan&amp;d=3&amp;p=0&amp;b=0&amp;w=218&amp;g=2&amp;f=arial&amp;fs=12&amp;r=0&amp;c0=362b05&amp;c1=375363&amp;c2=000000&amp;ic0=0&amp;ic1=0" async="async"></script>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/newdbDSM/layui/layui.all.js"></script>
<script>
    function getFileName(path) {
        var obj = document.getElementById("t1");
        var pos1 = path.lastIndexOf('/');
        var pos2 = path.lastIndexOf('\\');
        var pos = Math.max(pos1, pos2)
        if (pos < 0) {
            obj.innerHTML = path;
        } else {
            obj.innerHTML = path.substring(pos + 1);
        }
    }
</script>
<script>
    //检查序列
    function check_task(mutation) {
        var mutation_array = mutation.split('\n');
        var mutation_length_dict = new Array();
        console.log(mutation_array.length)
        // console.log('111:'+sequences)
        // 最大允许提交1000条序列
        if (mutation_array.length > 100000) {
            layer.msg("The maximum number of mutation is 100000 in one submission!");
            return false;
        }
        for (i in mutation_array) {
            if (mutation_array[i].split('\t').length != 5) {
                layer.msg('The line '+i+" VCF format error!");
                return false
            }
        }

        return true;
    }

    var reg = new RegExp("^[a-z0-9]+([._\\-]*[a-z0-9])*@([a-z0-9]+[-a-z0-9]*[a-z0-9]+.){1,63}[a-z0-9]+$");
    // 检查是输入还是上传文件
    function check_sequence() {
        thisform = document.submitForm;
        var mutation = document.getElementById("userInput");
        data = mutation.value;

        //输入框中的内容优先
        if (data == "") {
            var objFile = document.getElementById("uploaddata");
            if (objFile.value == "") {
                layer.msg("Please paste the mutation in the TEXT area or upload a file!");
            } else {
                //将上传的文件转化成mutation
                var files = $('#uploaddata').prop('files')[0];

                var reader = new FileReader();
                reader.readAsText(files, "UTF-8");
                reader.onload = function (evt) {
                    //var fileString = evt.target.result;
                    mutation.value = evt.target.result;
                    if (check_task(mutation.value)) {
                        if ($('#eMail').val() != '') {
                            if (reg.test($('#eMail').val())) {
                                thisform.submit();
                            } else {
                                layer.msg('Please check you e-mail address');
                                return false;
                            }
                        } else {
                            layer.msg('Please input you e-mail address');
                            return false;
                        }
                    }
                }
            }
        } else {
            if (check_task(data)) {
                if ($('#eMail').val() != '') {
                    if (reg.test($('#eMail').val())) {
                        thisform.submit();
                    }else{
                        layer.msg('Please check you e-mail address');
                        return false;
                    }
                } else {
                    layer.msg('Please input you e-mail address');
                    return false;
                }
            }
        }
    }
</script>



<script>
    function runExample() {
        $("#userInput").val("1	69096	.	G	A");
    };

    function reset1() {
        $('#t1').text("Please upload the VCF file");
        return true;
    };
</script>

<script>
    layui.use('element', function () {
        var element = layui.element;

    });
</script>

</body>
</html>