<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>dbDSM</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name=”viewport” content=”width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no” />
		<link rel="shortcut icon" href="/newdbDSM/images/dbdsmico.png" type="image/x-icon">
		<link rel="stylesheet" href="/newdbDSM/layui/css/layui.css">
		<link rel="stylesheet" href="/newdbDSM/css/bootstrap.min.css">
<!--		<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">-->

		<link rel="stylesheet" href="/newdbDSM/css/home.css" />

		<script src="/newdbDSM/js/jquery-3.4.1.js"></script>
		<script src="/newdbDSM/js/bootstrap.min.js"></script>


		<style>
			body {
				position: relative;
			}
			a {
				color: #393d49;
			}
			ul.nav-pills {
				width: 240px;
				margin-top: 20px;
				border-radius: 4px;
				border: 1px solid #ddd;
				box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
				position: fixed;
			}

			ul.nav-pills li {
				margin: 0;
				border-top: 1px solid #ddd;
			}

			ul.nav-pills li:first-child {
				border-top: none;
			}

			ul.nav-pills li a {
				margin: 0;
				padding: 8px 16px;
				border-radius: 0;
			}

			ul.nav-pills li.active a, ul.nav-pills li.active a:hover {
				color: #fff;
				background: #393d49;
				border: 1px solid #393d49;
			}

			ul.nav-pills li:first-child a {
				border-radius: 4px 4px 0 0;
			}

			ul.nav-pills li:last-child a {
				border-radius: 0 0 4px 4px;
			}

			ul.nav-pills.affix {
				/*top: 170px; !* Set the top position of pinned element *!*/
			}

			a:hover,a:active,a:link{text-decoration: none;}

			.page-header {
				border-color: #DDDDDD;
			}
			hr {
				border-color: #000000;
			}
			.alert-success {
				background-color: rgba(95,184,120,0.4);
			}
			.page-header h1 {
				font-size: 30px;
			}
			.asvg:hover {
				color: #5fb878;
			}

		</style>
	</head>

	<body data-spy="scroll" data-target="#myScrollspy" data-offset="1">
		<div class="layui-container" style="min-width:1140px;">
			<div class="layui-row" id="header">
				<!--头-->
				<div class="layui-col-xs12 layui-col-sm12 layui-col-md12 layui-col-lg12" id="banner" style="background: url(/newdbDSM/images/Picture8.png);background-size:cover;">
				</div>
				<!--这里是banner-->
				<div class="layui-col-xs12 layui-col-sm12 layui-col-md12 layui-col-lg12" id="bar">
					<!--这里是导航栏-->
					<ul class="layui-nav" lay-filter="" id="navbar">
						<li class="layui-nav-item">
							<a name="heada" href="/newdbDSM/">Home</a>
						</li>
						<li class="layui-nav-item layui-this">
							<a href="javascript:;">Search</a>
						</li>
						<li class="layui-nav-item ">
							<a href="/newdbDSM/analysis">Analysis</a>
						</li>
						<li class="layui-nav-item">
							<a href="/newdbDSM/download">Download</a>
						</li>
						<li class="layui-nav-item">
							<a href="/newdbDSM/about">About</a>
						</li>
						<li class="layui-nav-item">
							<a href="/newdbDSM/submit">Submit</a>
						</li>
						<li class="layui-nav-item">
							<a href="/newdbDSM/contact">Contact us</a>
						</li>
					</ul>
				</div>
				<!--导航栏到这-->
			</div>
			<!--头到这-->
			<div class="container-fluid">
				<div class="row">

					<div class="col-sm-9 col-9">
						<div id="section1">
							<div class="page-header">
								<h1>Functional Score</h1>

							</div>

							<div class="alert alert-success" role="alert">
								Functional scores of PrDSM, TraP, PhD-SNPg, FATHMM-MKL, CADD, DANN, FATHMM-XF for the mutation.
							</div>


							<div>
								<table class="layui-table table-striped" lay-filter="demoEvent" lay-even
									   lay-skin="line" style="word-break:break-all; ">
									<thread>
									</thread>
									<tbody>
									<tr>
										<th><strong>PrDSM</strong></th>
										<th><strong>TraP</strong></th>
										<th><strong>PhD-SNPg</strong></th>
										<th><strong>FATHMM-MKL</strong></th>
										<th><strong>CADD</strong></th>
										<th><strong>DANN</strong></th>
										<th><strong>FATHMM-XF</strong></th>
									</tr>

									<tr>
										<td style="width: auto">{{ dbDSMData.PrDSM }}</td>
										<td style="width: auto">{{ dbDSMData.TraP }}</td>
										<td style="width: auto">{{ dbDSMData.PhD_SNPg }}</td>
										<td style="width: auto">{{ dbDSMData.FATHMM_MKL }}</td>
										<td style="width: auto">{{ dbDSMData.CADD }}</td>
										<td style="width: auto">{{ dbDSMData.DANN }}</td>
										<td style="width: auto">{{ dbDSMData.FATHMM_XF }}</td>
									</tr>

									</tbody>
								</table>
							</div>



						</div>
						<div id="section2">
							<div class="page-header">
								<h1>Conservation Score</h1>
							</div>
							<div class="alert alert-success" role="alert">
								PhyloP scores of 100 mammals, 100 primates and 100 vertebrates obtained from CADD. PhCons scores of 100 mammals, 100 Primates and 100 vertebrates obtained from CADD. GerpS obtained from GERP++.
							</div>
							<div class="layui-container">
								<div class="layui-row">
									<div class="layui-col-xs9 layui-col-sm9 layui-col-md9 layui-col-lg9">
										<div class="" id="container1" style="height: 400%; width: 90%;"></div>
									</div>
								</div>
							</div>
						</div>
						<div id="section3">
							<div class="page-header">
								<h1>Sequential information</h1>
							</div>
							<div class="alert alert-success" role="alert">
								Basic information obtained from literatures, Disease Ontology, VEP, TransVar and LiftOver for the mutation.
							</div>
							<div>
								<table id="details" class="layui-table table-striped" lay-filter="demoEvent" lay-even
									   lay-skin="line" style="word-break:break-all; ">
									<colgroup>
										<col width="150"/>
										<col/>

									</colgroup>
									<thread>
									</thread>
									<tbody>
									<tr class="DBDSMID">
										<td>dbDSMAccNum</td>
										<td class="DBDSMID" colspan="11">{{ dbDSMData.DBDSMID }}</td>
									</tr>
									<tr class="Disease">
										<td>Disease</td>
										<td class="Disease" colspan="11">{{ dbDSMData.Disease }}</td>
									</tr>
									<tr class="DOID">
										<td>DOID</td>
										<td class="DOID" colspan="11"><a style="color:#5FB878; " href="https://disease-ontology.org/?id={{ dbDSMData.DOID }}" target="view_window">{{ dbDSMData.DOID }}</a></td>
									</tr>
									<tr class="Gene">
										<td>Gene</td>
										<td class="Gene" colspan="11">{{ dbDSMData.Gene }}</td>
									</tr>

									<tr class="GeneID">
										<td>GeneID</td>
										<td class="GeneID" colspan="11"><a style="color:#5FB878; "
																		   href="https://www.ncbi.nlm.nih.gov/gene/{{ dbDSMData.GeneID }}"
																		   target="view_window">{{ dbDSMData.GeneID
											}}</a></td>
									</tr>

									<tr class="MIM">
										<td>MIM</td>
										<td class="MIM" colspan="11">{{ dbDSMData.MIM }}</td>
									</tr>
									<tr class="Map_Location">
										<td>Map_Location</td>
										<td class="Map_Location" colspan="11">{{ dbDSMData.Map_Location }}</td>
									</tr>
									<tr class="VariantType">
										<td>VariantType</td>
										<td class="VariantType" colspan="11">{{ dbDSMData.VariantType }}</td>
									</tr>
									<tr class="Protein">
										<td>Protein</td>
										<td class="Protein" colspan="11">{{ dbDSMData.Protein.replace('*','') }}</td>
									</tr>
									<tr class="cDNA">
										<td>c.DNA</td>
										<td class="cDNA" colspan="11">{{ dbDSMData.cDNA.replace('*','') }}</td>
									</tr>

									<tr class="SNPID">
										<td>SNPID</td>
										<td class="SNPID" colspan="11">{{ dbDSMData.SNPID.replace('*','') }}</td>
									</tr>
									<tr class="CodonChange">
										<td>CodonChange</td>
										<td class="CodonChange" colspan="11">{{ dbDSMData.CodonChange }}</td>
									</tr>

									<tr class="RefseqTranscript">
										<td>RefseqTranscript</td>
										<td class="RefseqTranscript" colspan="11">{{ dbDSMData.RefseqTranscript }}</td>
									</tr>

									<tr class="P_Value">
										<td>P_value</td>
										<td class="P_Value" colspan="11">{{ dbDSMData.P_Value }}</td>
									</tr>
									<tr class="Strand">
										<td>Strand</td>
										<td class="Strand" colspan="11">{{ dbDSMData.Strand }}</td>
									</tr>

									<tr class="GRCh38_Position">
										<td>GRCh38_Position</td>
										<td class="GRCh38_Position" colspan="11">{{ dbDSMData.GRCh38_Position }}</td>
									</tr>

									<tr class="GRCh37_Position">
										<td>GRCh37_Position</td>
										<td class="GRCh37_Position" colspan="11">{{ dbDSMData.GRCh37_Position }}</td>
									</tr>

									<tr class="Ref">
										<td>Ref</td>
										<td class="Ref" colspan="11">{{ dbDSMData.Ref }}</td>
									</tr>

									<tr class="Alt">
										<td>Alt</td>
										<td class="Alt" colspan="11">{{ dbDSMData.Alt }}</td>
									</tr>
									<tr class="Source">
										<td>Source</td>
										<td class="Source" colspan="11">{{ dbDSMData.Source }}</td>
									</tr>
									</tbody>
								</table>

							</div>
						</div>
						<div id="section4">
							<div class="page-header">
								<h1>Evidence information</h1>
							</div>
							<div class="alert alert-success" role="alert">
								Key sentences associated with the mutation obtained from corresponding literature.
							</div>
							<div>
								<table id="details3" class="layui-table  table-striped" lay-filter="demoEvent" lay-even
									   lay-skin="line">
									<colgroup>
										<col width="400"/>
										<col width="20"/>
										<col width="20"/>
										<col width="20"/>
										<col width="20"/>
										<col width="20"/>
									</colgroup>
									<thread>
										<tr>
											<th class="PMID"><b>PMID</b></th>
											<th class="Year"><b>Year</b></th>
											<th class="Ethnicity"><b>Ethnicity</b></th>
											<th class="Classification"><b>Classification</b></th>
											<th class="StrengthOfEvidence"><b>StrengthOfEvidence</b></th>
											<th class="KeySentence"><b>KeySentence</b></th>
										</tr>
									</thread>
									<tbody>
									<tr>
										<td class="PMID"><a style="color:#5FB878; "
															href="https://pubmed.ncbi.nlm.nih.gov/{{ dbDSMData.PMID }}"
															target="view_window">{{ dbDSMData.PMID }}</a></td>
										<td class="Year">{{ dbDSMData.Year }}</td>
										<td class="Ethnicity">{{ dbDSMData.Ethnicity }}</td>
										<td class="Classification">{{ dbDSMData.Classification }}</td>
										<td class="StrengthOfEvidence">{{ dbDSMData.StrengthOfEvidence }}</td>
										<td class="KeySentence">{{ dbDSMData.KeySentence }}</td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>

					</div>
					<nav class="col-sm-3 col-3" id="myScrollspy" >
						<ul class="nav nav-pills nav-stacked"  id="myNav">
							<li><a class="active" href="#section1">Functional Score</a></li>
							<li><a class="active" href="#section2">Conservation Score</a></li>
							<li><a href="#section3">Sequential information</a></li>
							<li><a href="#section4">Evidence information</a></li>
						</ul>
					</nav>
				</div>
			</div>
			<div class="layui-row" id="footer" align='center'>
				<hr class="layui-bg-black"/>
				<div class="link">
					Links:
					<a class="ow" href="http://bioinfo.ahu.edu.cn:8080/PrDSM/" target="_blank">PrDSM</a>
					<div style="display:inline;">|</div>
					<a class="ow" href="http://bioinfo.ahu.edu.cn:8080/IDSV/" target="_blank">IDSV</a>
					<!-- <div style="display:inline;">|</div>
					<a class="ow" href="http://bioinfo.ahu.edu.cn:8080/Melanoma/index.jsp" target="_blank">Melanoma</a> -->
				</div>
				<div class="copyright">
					Copyright©
					<a class="ow" href="http://en.ahu.edu.cn/" target="_blank">AnHui University</a> ©All Rights Reserved.
				</div>
				<div class="use">
					<!-- Website content is for educational and research purposes only and is not intended to be used for medical advice, diagnosis or treatment. -->
				</div>
			</div>

		</div>
		<div>
			<div style="position:fixed;bottom:10px;margin-left: 97%;">
				<a href="javascript:scroll(0,0)" class="asvg">
					<svg class="bi bi-arrow-up-square-fill" width="3em" height="3em" viewBox="0 0 16 16"
						 fill="currentColor"
						 xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd"
							  d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 8.354a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 6.207V11a.5.5 0 0 1-1 0V6.207L5.354 8.354z"/>
					</svg>
				</a>
			</div>
		</div>
	</body>

	<script src="/newdbDSM/layui/layui.all.js"></script>
	<script>
		$(document).ready(function () {
			$("#myNav").affix({
				offset: {
					top: 125
				}
			});
		});
	</script>

	<script type="text/javascript"
			src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
	<script type="text/javascript"
			src="https://cdn.jsdelivr.net/npm/echarts-gl/dist/echarts-gl.min.js"></script>
	<script type="text/javascript"
			src="https://cdn.jsdelivr.net/npm/echarts-stat/dist/ecStat.min.js"></script>
	<script type="text/javascript"
			src="https://cdn.jsdelivr.net/npm/echarts/dist/extension/dataTool.min.js"></script>
	<script type="text/javascript"
			src="https://cdn.jsdelivr.net/npm/echarts/dist/extension/bmap.min.js"></script>

	<script type="text/javascript">
		var list = ['priPhCons', 'mamPhCons', 'verPhCons', 'priPhyloP', 'mamPhyloP', 'verPhyloP', 'GerpS']
		var data = ['{{ dbDSMData.priPhCons }}', '{{ dbDSMData.mamPhCons }}', '{{ dbDSMData.verPhCons }}', '{{ dbDSMData.priPhyloP }}', '{{ dbDSMData.mamPhyloP }}', '{{ dbDSMData.verPhyloP }}', '{{ dbDSMData.GerpS }}'];
		var dom = document.getElementById("container1");
		var myChart = echarts.init(dom);
		var app = {};
		var yMax = Math.max.apply(this, data);
		option = null;
		option = {
			tooltip: {
				trigger: 'axis',
				axisPointer: {            // 坐标轴指示器，坐标轴触发有效
					type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
				}
			},
			toolbox: {
				show: true,
				feature: {
					mark: {show: true},
					dataView: {show: true, readOnly: false},
					magicType: {show: true, type: ['line', 'bar']},
					restore: {show: true},
					saveAsImage: {show: true}
				}
			},
			xAxis: {
				type: 'category',
				data: list,
				axisLabel: {
					interval: 0,
					rotate: 30
				},
			},
			yAxis: {
				type: 'value',
				show: true,
				name: 'Score',
				nameLocation:'middle',
				nameGap:30,
			},

			series: [{
				name: 'scores',
				data: data,
				type: 'bar',
				showBackground: true,
				backgroundStyle: {
					color: 'rgba(220, 220, 220, 0.6)'
				},
				color: '#DD6B66',
				label: {
					show: true,
					position: 'inside'
				}
			}],
			grid: [{
				top: 10,
				width: '60%',
				top: '10%',
				bottom: '0%',
				left: "20%",
				containLabel: true
			}]
		};
		;
		if (option && typeof option === "object") {
			myChart.setOption(option, true);
		}
	</script>
</html>