<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>dbDSM</title>
		<meta name=”viewport” content=”width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no” />
		<link rel="stylesheet" href="/newdbDSM/layui/layui.js" media="all">
		<link rel="stylesheet" href="/newdbDSM/layui/css/layui.css" media="all">
		<link rel="stylesheet" href="/newdbDSM/layui/css/layui.css" />
		<link rel="stylesheet" href="/newdbDSM/css/home.css" />
	</head>

	<body>
		<div class="layui-container" style="min-width:1140px;">
			<div class="layui-row" id="header">
				<!--头-->
				<div class="layui-col-xs12 layui-col-sm12 layui-col-md12 layui-col-lg12" id="banner"style="background: url(/newdbDSM/images/Picture8.png);background-size:cover;">
				</div>
				<!--这里是banner-->
				<div class="layui-col-xs12 layui-col-sm12 layui-col-md12 layui-col-lg12" id="bar">
					<!--这里是导航栏-->
					<ul class="layui-nav" id="navbar">
						<li class="layui-nav-item">
							<a href="/newdbDSM/">Home</a>
						</li>
						<li class="layui-nav-item ">
							<a href="/newdbDSM/search">Search</a>
						</li>
						<li class="layui-nav-item ">
							<a href="/newdbDSM/analysis">Analysis</a>
						</li>
						<li class="layui-nav-item layui-this">
							<a href="/newdbDSM/download">Download</a>
						</li>
						<li class="layui-nav-item">
							<a href="/newdbDSM/about">About</a>
						</li>
						<li class="layui-nav-item">
							<a href="/newdbDSM/submit">Submit</a>
						</li>
						<li class="layui-nav-item">
							<a href="/newdbDSM/contact">Contact us</a>
						</li>
					</ul>
				</div>
				<!--导航栏到这-->
			</div>
			<!--头到这-->
			<div class="layui-row" id="bodyer">
				<div class="layui-col-xs10 layui-col-sm10 layui-col-md10 layui-col-lg10 layui-col-sm-offset1 layui-col-md-offset1 layui-col-lg-offset1" id="overview" style="margin-bottom:20px;margin-top:20px;">
					<fieldset class="layui-elem-field layui-field-title">
						<legend><i><strong>Download dbDSM datasets</strong></i></legend>
					</fieldset>
				</div>
				<div class="layui-col-xs10 layui-col-sm10 layui-col-md10 layui-col-lg10 layui-col-xs-offset1 layui-col-sm-offset1 layui-col-md-offset1 layui-col-lg-offset1">
						<fieldset class="layui-elem-field">
							<legend><strong>dbDSM Version 1</strong></legend>
							<div style="padding-top:10px;padding-bottom:10px;" class="layui-col-xs10 layui-col-sm10 layui-col-md10 layui-col-lg10 layui-col-xs-offset1 layui-col-sm-offset1 layui-col-md-offset1 layui-col-lg-offset1 layui-text">
								<table class="layui-table" lay-even lay-skin="line">
								  <colgroup>
								  	<col>
								  </colgroup>
								  <tbody>
								  	<tr><td><a style="color:#009688;cursor:pointer" href="/newdbDSM/download/dbDSM v1.0.zip">dbDSM v1.0</a></td></tr>
								  	<tr><td><a style="color:#009688;cursor:pointer" href="/newdbDSM/download/dbDSM v1.1.zip">dbDSM v1.1</a></td></tr>
								  	<tr><td><a style="color:#009688;cursor:pointer" href="/newdbDSM/download/dbDSM v1.2.zip">dbDSM v1.2</a></td></tr>
								  	<tr><td><a style="color:#009688;cursor:pointer" href="/newdbDSM/download/dbDSM v1.3.zip">dbDSM v1.3</a></td></tr>
								  	
								  </tbody>
								</table>
							</div>
						</fieldset>
						<fieldset class="layui-elem-field">
							<legend><strong>dbDSM Version 2</strong></legend>
							<div style="padding-top:10px;padding-bottom:10px;" class="layui-col-xs10 layui-col-sm10 layui-col-md10 layui-col-lg10 layui-col-xs-offset1 layui-col-sm-offset1 layui-col-md-offset1 layui-col-lg-offset1">
							
								<div class="layui-text" style="color:black;">
								  	<tr><td>The Database of Deleterious Synonymous Mutation Version 2 (dbDSM v2) is updating. Currently, the second version of the data is not available to download.</td></tr>
										
								  	
								  </div>
							</div>
						</fieldset>
						<fieldset class="layui-elem-field">
							<legend><strong>General annoucement</strong></legend>
							
							<div style="padding-top:10px;padding-bottom:10px;" class="layui-col-xs10 layui-col-sm10 layui-col-md10 layui-col-lg10 layui-col-xs-offset1 layui-col-sm-offset1 layui-col-md-offset1 layui-col-lg-offset1">
							
								<div class="layui-text" style="color:black;">
									All the files are free to academic researchers worldwide. Not for profit purposes.
								</div>
								<div class="layui-text" style="color:black;">
									If you have any problems with the download, please contact us.
								</div>
							</div> 
						</fieldset>
				</div>
			</div>

			<div class="layui-row" id="footer" align='center'>
				<hr class="layui-bg-black">
				<div class="link">
					Links:
					<a class="ow" href="http://bioinfo.ahu.edu.cn:8080/PrDSM/" target="_blank">PrDSM</a>
					<div style="display:inline;">|</div>
					<a class="ow" href="http://bioinfo.ahu.edu.cn:8080/IDSV/" target="_blank">IDSV</a>
					<!-- <div style="display:inline;">|</div>
					<a class="ow" href="http://bioinfo.ahu.edu.cn:8080/Melanoma/index.jsp" target="_blank">Melanoma</a> -->
				</div>
				<div class="copyright">
					Copyright©
					<a class="ow" href="http://en.ahu.edu.cn/" target="_blank">AnHui University</a> ©All Rights Reserved.
				</div>
				<div class="use">
					<!-- Website content is for educational and research purposes only and is not intended to be used for medical advice, diagnosis or treatment. -->
				</div>
			</div>
		</div>
	</body>
	<script src="/newdbDSM/layui/layui.js"></script>
	<script>
		layui.use('element', function() {
			var element = layui.element;

		});
	</script>

</html>